{% extends "layout.html.twig" %}
{% block body %}
    <div class="row">
        <h2 class="text-center">Tasks</h2>
        <div class="card shadow center col-12 mt-3">
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Last update</th>
                        <th>Created</th>
                    </tr>
                    {% for task in tasks %}
                        <tr>
                            <td><a href="/project/{{ projectId }}/tasks/{{ task.id }}">{{ task.name }}</a></td>
                            <td>{{ task.updatedAt }}</td>
                            <td>{{ task.createdAt }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
{% endblock %}